{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{test.name}}
{% endblock title %}

{% block content %}
<div class="participants home position-absolute top-50 start-50 translate-middle">
    <h1>Start {{test.name}}</h1>
    <h3 class="mt-3">Deadline: {{test.deadline}}</h3>
    <form class="start test mt-5" action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" id="submit-button" class="btn btn-info mt-3">Start</button>
    </form>
</div>
{% endblock content %}