{% extends 'base.html' %}
{% load static %}

{% block title %}
Question #{{question.number|default:"1"}}
{% endblock title %}

{% block content %}
<div class="participants question position-absolute top-50 start-50 translate-middle mt-3">
    <h1 class="mb-5">Question #{{question.number|default:"1"}}</h1>
    <form class="create-test-form" id="form-create" action="" method="POST">
        {% csrf_token %}
        <h4 class="question-name">{{question.name}}</h4>
        <br>
        {% for option in options %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value={{option.number}}>
                <label class="form-check-label" for="flexRadioDefault">
                    {{option.letter}} {{option}}
                </label>
            </div>        
        {% endfor %}
        <button type="submit" id="submit-button" class="btn btn-info mt-2">
            {% if finish_button %}End Test{% else %}Next Question{% endif %}
        </button>
    </form>
</div>
{% endblock content %}